@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding: 10px;
    color: whitesmoke;
    text-shadow: -4px -4px 0.5px rgba(0, 0, 0, 0.411);
}

@media screen and (orientation: portrait) {
    body {
        background: url(../../imagens/portrait.jpg);
        background-position: center bottom;
    }
}

@media screen and (orientation: landscape) {
    body {
        background: url(../../imagens/landscape.jpg);
        background-position: center;
    }
}
